In [195]:
import pandas as pd
import numpy as np
import string
import random
import uuid
import matplotlib.pyplot as plt
import seaborn as sns

In [196]:
archivo = pd.read_csv(r'Call_Center_1999_DataSet.csv', delimiter=';', encoding='utf-8') 
archivo

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1644482983.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  archivo = pd.read_csv(r'Call_Center_1999_DataSet.csv', delimiter=';', encoding='utf-8')

,vru.line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server,startdate
0,AA0101,33116,9664491,2,PS,1/1/1999,00:00:31,00:00:36,5,00:00:36,00:03:09,153,HANG,00:00:00,00:00:00,0,NO_SERVER,0
1,AA0101,33117,0,0,PS,1/1/1999,00:34:12,00:34:23,11,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,0
2,AA0101,33118,27997683,2,PS,1/1/1999,06:55:20,06:55:26,6,06:55:26,06:55:43,17,AGENT,06:55:43,06:56:37,54,MICHAL,0
3,AA0101,33119,0,0,PS,1/1/1999,07:41:16,07:41:26,10,00:00:00,00:00:00,0,AGENT,07:41:25,07:44:53,208,BASCH,0
4,AA0101,33120,0,0,PS,1/1/1999,08:03:14,08:03:24,10,00:00:00,00:00:00,0,AGENT,08:03:23,08:05:10,107,MICHAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444443,AA0216,17211,0,0,IN,31/12/1999,13:46:51,13:47:04,13,00:00:00,00:00:00,0,AGENT,13:47:03,13:56:16,553,Z2ELINOR,334
444444,AA0216,17212,0,0,IN,31/12/1999,13:58:31,13:58:40,9,13:58:40,13:59:49,69,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444445,AA0216,17213,0,0,IN,31/12/1999,17:10:51,17:11:12,21,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444446,AA0216,17214,0,0,IN,31/12/1999,18:30:19,18:30:54,35,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444447,AA0216,17215,0,0,IN,31/12/1999,22:23:35,22:23:45,10,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334

In [197]:
print(archivo.describe())
print(archivo.dtypes)

             call_id       priority       vru_time         q_time  \
count  444448.000000  444448.000000  444448.000000  444448.000000
mean    31928.737202       0.780143      10.286081      59.004304
std     13945.516813       0.888851      34.942136     119.470328
min      1169.000000       0.000000    -362.000000       0.000000
25%     21449.000000       0.000000       6.000000       0.000000
50%     35256.000000       0.000000       8.000000      16.000000
75%     42803.000000       2.000000      10.000000      79.000000
max     55656.000000       2.000000    4832.000000   28693.000000

            ser_time      startdate
count  444448.000000  444448.000000
mean      152.561776     172.333974
std       282.372761     104.559247
min         0.000000       0.000000
25%        12.000000      90.000000
50%        84.000000     181.000000
75%       185.000000     273.000000
max     61437.000000     334.000000
vru.line       object
call_id         int64
customer_id    object
priority        int64
type           object
date           object
vru_entry      object
vru_exit       object
vru_time        int64
q_start        object
q_exit         object
q_time          int64
outcome        object
ser_start      object
ser_exit       object
ser_time        int64
server         object
startdate       int64
dtype: object

In [198]:
# chequeo de ceros, espacios y nulos en las columnas
def verificar_valores(df, columna): # funciÃ³n para verificar valores nulos, ceros y espacios en blanco
    nulos = df[columna].isnull().sum()
    ceros = (df[columna] == 0).sum()
    espacios = (df[columna].astype(str).str.strip() == '').sum()
    return nulos, ceros, espacios

columnas = [ #columnas a verificar
    'call_id', 'customer_id', 'vru.line', 'priority', 'type', 'date',
    'vru_entry', 'vru_exit', 'vru_time', 'q_start', 'q_exit', 'q_time',
    'outcome', 'ser_start', 'ser_exit', 'ser_time', 'server', 'startdate'
]

for columna in columnas: # Iterar sobre las columnas y aplicar la funciÃ³n de verificaciÃ³n
    nulos, ceros, espacios = verificar_valores(archivo, columna)
    print(f'nulos en "{columna}": {nulos}, valores cero: {ceros}, en blanco o espacios: {espacios}')

nulos en "call_id": 0, valores cero: 0, en blanco o espacios: 0
nulos en "customer_id": 0, valores cero: 42003, en blanco o espacios: 0
nulos en "vru.line": 0, valores cero: 0, en blanco o espacios: 0
nulos en "priority": 0, valores cero: 235168, en blanco o espacios: 0
nulos en "type": 0, valores cero: 0, en blanco o espacios: 0
nulos en "date": 0, valores cero: 0, en blanco o espacios: 0
nulos en "vru_entry": 0, valores cero: 0, en blanco o espacios: 0
nulos en "vru_exit": 0, valores cero: 0, en blanco o espacios: 0
nulos en "vru_time": 0, valores cero: 8696, en blanco o espacios: 0
nulos en "q_start": 0, valores cero: 0, en blanco o espacios: 0
nulos en "q_exit": 0, valores cero: 0, en blanco o espacios: 0
nulos en "q_time": 0, valores cero: 181223, en blanco o espacios: 0
nulos en "outcome": 0, valores cero: 0, en blanco o espacios: 0
nulos en "ser_start": 0, valores cero: 0, en blanco o espacios: 0
nulos en "ser_exit": 0, valores cero: 0, en blanco o espacios: 0
nulos en "ser_time": 0, valores cero: 87860, en blanco o espacios: 0
nulos en "server": 0, valores cero: 0, en blanco o espacios: 0
nulos en "startdate": 0, valores cero: 31599, en blanco o espacios: 0

In [199]:
# chequeo de duplicados en las columnas 
columnas = ['call_id', 'customer_id']

for columna in columnas:
    num_duplicados = archivo.duplicated(subset=[columna]).sum()
    print(f"NÃºmero de duplicados en '{columna}':", num_duplicados)

for columna in columnas: # frecuencia de duplicados en cada columna
    conteo_duplicados = archivo[columna].value_counts()
    conteo_duplicados = conteo_duplicados[conteo_duplicados > 1]
    print(f"Conteo de duplicados en '{columna}':")
    print(conteo_duplicados)

NÃºmero de duplicados en 'call_id': 389977
NÃºmero de duplicados en 'customer_id': 426867
Conteo de duplicados en 'call_id':
call_id
37585    16
36947    16
36959    16
36958    16
36957    16
         ..
1790      2
1792      2
54006     2
1791      2
1802      2
Name: count, Length: 52662, dtype: int64
Conteo de duplicados en 'customer_id':
customer_id
0             192549
0.0            42003
58859752        1657
58704610        1575
7191646         1379
               ...
53655932           2
308995406          2
33762014           2
50934389           2
24197428.0         2
Name: count, Length: 12618, dtype: int64

In [200]:
# Convertir `call_id` a texto y eliminar espacios #id de llamada es unico?
archivo['call_id'] = archivo['call_id'].astype(str).str.strip()

# Identificar IDs con longitud incorrecta
ids_incorrectos = archivo[archivo['call_id'].apply(lambda x: len(x) != 5)]
print("IDs con longitud incorrecta:")
print(ids_incorrectos[['call_id']])

# la columna 'call_id' estÃ¡ en formato string y sin espacios
archivo['call_id'] = archivo['call_id'].astype(str).str.strip()

duplicados = archivo[archivo.duplicated('call_id', keep=False)] # Verificar duplicados en 'call_id'

print(f"Cantidad de IDs duplicados: {len(duplicados)}")
print("IDs duplicados:\n", duplicados['call_id'].unique())

def generate_unique_id(existing_ids): #  generar IDs Ãºnicos de longitud 5
    while True:
        new_id = str(uuid.uuid4().hex[:5].upper())
        if new_id not in existing_ids:
            existing_ids.add(new_id)
            return new_id

existing_ids = set(archivo['call_id'])

duplicados_indices = duplicados.index # Generar nuevos IDs Ãºnicos para los duplicados
num_duplicados = len(duplicados_indices)
new_ids = [generate_unique_id(existing_ids) for _ in range(num_duplicados)]

archivo.loc[duplicados_indices, 'call_id'] = new_ids # Reemplazar los IDs duplicados con los nuevos

duplicados_ids = archivo[archivo.duplicated('call_id', keep=False)]['call_id'].unique()
if not duplicados_ids.size:
    print("No se encontraron IDs duplicados despuÃ©s del reemplazo.")
else:
    print('IDs duplicados:', duplicados_ids)

IDs con longitud incorrecta:
       call_id
176       2023
177       2024
178       2025
179       2026
180       1169
...        ...
444079    5480
444080    5481
444081    4585
444118    4978
444119    4979

[43671 rows x 1 columns]
Cantidad de IDs duplicados: 442639
IDs duplicados:
 ['33116' '33117' '33118' ... '54006' '54081' '54096']
No se encontraron IDs duplicados despuÃ©s del reemplazo.

In [201]:
# Convertir 'customer_id' a texto y reemplazar '0' y '0.0' por 'No reconocido'
archivo['customer_id'] = archivo['customer_id'].astype(str).replace(['0', '0.0'], 'No reconocido')

zero_count = (archivo['customer_id'] == 'No reconocido').sum() #cuÃ¡ntos registros tienen 'No reconocido'
print(f"Cantidad de registros con 'No reconocido': {zero_count}")

print(archivo['customer_id'].describe())

Cantidad de registros con 'No reconocido': 234552
count            444448
unique            17580
top       No reconocido
freq             234552
Name: customer_id, dtype: object

In [202]:
# customer_id chequeamos que tengan hasta 12 digitos y que no haya duplicados
# Convertir a texto para asegurar consistencia
archivo['customer_id'] = archivo['customer_id'].astype(str).str.strip()

def generate_unique_id(existing_ids): # generar un ID Ãºnico con longitud de hasta 12 dÃ­gitos
    while True:
        new_id = ''.join(random.choices(string.digits, k=12))  
        if new_id not in existing_ids:
            return new_id

valid_ids = archivo[archivo['customer_id'] != 'No reconocido']
archivo['longitud_customer_id'] = archivo['customer_id'].str.len() # Identificar IDs con longitud incorrecta
invalid_length_ids = archivo[(archivo['longitud_customer_id'] > 12) & (archivo['customer_id'] != 'No reconocido')]

existing_ids = set(valid_ids['customer_id']) # Generar nuevos IDs Ãºnicos para los registros con longitud incorrecta
new_ids = [generate_unique_id(existing_ids) for _ in range(len(invalid_length_ids))]

archivo.loc[invalid_length_ids.index, 'customer_id'] = new_ids # Asignar nuevos IDs a los registros con longitud incorrecta

# Verificar si los customer_id tienen una longitud fuera del rango 0-12
invalid_length_ids = archivo[archivo['longitud_customer_id'] > 12]  
print("IDs con longitud fuera del rango 0-12:")
print(invalid_length_ids[['customer_id', 'longitud_customer_id']])

archivo.drop(columns=['longitud_customer_id'], inplace=True)

IDs con longitud fuera del rango 0-12:
          customer_id  longitud_customer_id
1       No reconocido                    13
3       No reconocido                    13
4       No reconocido                    13
5       No reconocido                    13
6       No reconocido                    13
...               ...                   ...
444443  No reconocido                    13
444444  No reconocido                    13
444445  No reconocido                    13
444446  No reconocido                    13
444447  No reconocido                    13

[234565 rows x 2 columns]

In [203]:
#  PRIORITY
# cambiar q_time 0= no esperaron?
def time_to_seconds(time_str):
    # Convertir formato HH:MM:SS a segundos, maneja '00:00:00' y valores nulos
    if pd.isna(time_str) or time_str == '00:00:00':
        return 0
    try:
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s
    except ValueError:
        return 0

def seconds_to_time(seconds):  # Convierte segundos a formato HH:MM:SS
    if pd.isna(seconds) or seconds == 0:
        return "00:00:00"
    hours, remainder = divmod(int(seconds), 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{hours:02}:{minutes:02}:{seconds:02}"

archivo['q_start_seconds'] = archivo['q_start'].apply(time_to_seconds)
archivo['q_exit_seconds'] = archivo['q_exit'].apply(time_to_seconds)

# Calcular q_time en segundos
archivo['q_time'] = archivo['q_exit_seconds'] - archivo['q_start_seconds']

# q_start y q_exit en formato HH:MM:SS para la visualizaciÃ³n
archivo['q_start'] = archivo['q_start_seconds'].apply(seconds_to_time)
archivo['q_exit'] = archivo['q_exit_seconds'].apply(seconds_to_time)

archivo.drop(columns=['q_start_seconds', 'q_exit_seconds'], inplace=True) # Eliminar las columnas intermedias 

print(archivo[['q_start', 'q_exit', 'q_time']].head(30))

     q_start    q_exit  q_time
0   00:00:36  00:03:09     153
1   00:00:00  00:00:00       0
2   06:55:26  06:55:43      17
3   00:00:00  00:00:00       0
4   00:00:00  00:00:00       0
5   00:00:00  00:00:00       0
6   00:00:00  00:00:00       0
7   08:42:19  08:42:23       4
8   00:00:00  00:00:00       0
9   09:04:10  09:04:56      46
10  00:00:00  00:00:00       0
11  09:27:09  09:28:00      51
12  09:41:20  09:41:46      26
13  09:47:55  09:49:15      80
14  00:00:00  00:00:00       0
15  00:00:00  00:00:00       0
16  00:00:00  00:00:00       0
17  10:48:49  10:49:17      28
18  00:00:00  00:00:00       0
19  00:00:00  00:00:00       0
20  11:35:23  11:36:15      52
21  00:00:00  00:00:00       0
22  00:00:00  00:00:00       0
23  00:00:00  00:00:00       0
24  00:00:00  00:00:00       0
25  13:12:13  13:14:05     112
26  00:00:00  00:00:00       0
27  00:00:00  00:00:00       0
28  00:00:00  00:00:00       0
29  00:00:00  00:00:00       0

In [204]:
# Convertir `date` a formato datetime
#archivo['date'] = pd.to_datetime(archivo['date'], format='%Y-%m-%d', errors='coerce')

(type[archivo['date']])

type[0           1/1/1999
1           1/1/1999
2           1/1/1999
3           1/1/1999
4           1/1/1999
             ...
444443    31/12/1999
444444    31/12/1999
444445    31/12/1999
444446    31/12/1999
444447    31/12/1999
Name: date, Length: 444448, dtype: object]

In [206]:
# Verificar valores vÃ¡lidos en `outcome` # chequear
'''valid_outcomes = ['AGENT', 'HANG', 'PHANTOM']
archivo = archivo[archivo['outcome'].isin(valid_outcomes)]
archivo['outcome'].head()

archivo[['ser_start','ser_time','ser_exit']].info()'''

# Verificar y corregir ser_start y ser_exit
def format_time(value):
    try:
        if len(value) == 8 and value.count(':') == 2:  # Formato HH:MM:SS
            return value
        # Convertir a HH:MM:SS si el valor es en segundos
        value = int(value)
        hours, remainder = divmod(value, 3600)
        minutes, seconds = divmod(remainder, 60)
        return f"{hours:02}:{minutes:02}:{seconds:02}"
    except ValueError:
        return "00:00:00"  # Valor por defecto en caso de error

archivo['ser_start'] = archivo['ser_start'].apply(format_time)
archivo['ser_exit'] = archivo['ser_exit'].apply(format_time)

invalid_ser_start = archivo[archivo['ser_start'].str.len() != 8] # Verificar la correcciÃ³n
invalid_ser_exit = archivo[archivo['ser_exit'].str.len() != 8]

def time_to_seconds(time_str): # Calcular y verificar ser_time
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

archivo['ser_start_seconds'] = archivo['ser_start'].apply(time_to_seconds)
archivo['ser_exit_seconds'] = archivo['ser_exit'].apply(time_to_seconds)

archivo['ser_time'] = archivo['ser_exit_seconds'] - archivo['ser_start_seconds'] # Calcular ser_time

invalid_ser_time = archivo[(archivo['ser_time'] < 0) | (archivo['ser_time'] > 999)] # Verificar ser_time
print("entradas ser_time incorrectas:", invalid_ser_time[['ser_start', 'ser_exit', 'ser_time']])

archivo = archivo[(archivo['ser_time'] >= 0) & (archivo['ser_time'] <= 999)] # Eliminar registros anÃ³malos

archivo.drop(columns=['ser_start_seconds', 'ser_exit_seconds'], inplace=True) # Eliminar las columnas temporales

count_invalid_ser_time = invalid_ser_time['ser_time'].count() # Verificar entradas con mÃ¡s de 3 dÃ­gitos en ser_time
print("Entradas con mÃ¡s de 3 dÃ­gitos:", count_invalid_ser_time)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1086940517.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo['ser_start'] = archivo['ser_start'].apply(format_time)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1086940517.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo['ser_exit'] = archivo['ser_exit'].apply(format_time)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1086940517.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo['ser_start_seconds'] = archivo['ser_start'].apply(time_to_seconds)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1086940517.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo['ser_exit_seconds'] = archivo['ser_exit'].apply(time_to_seconds)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_12988\1086940517.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo['ser_time'] = archivo['ser_exit_seconds'] - archivo['ser_start_seconds'] # Calcular ser_time

entradas ser_time incorrectas: Empty DataFrame
Columns: [ser_start, ser_exit, ser_time]
Index: []
Entradas con mÃ¡s de 3 dÃ­gitos: 0

In [210]:
# Renombrar los tipos de servicio utilizando el mÃ©todo .map()
tipo_servicio = {
    'PS': 'Actividad Regular',
    'PE': 'Actividad Regular',
    'IN': 'Consulta por internet',
    'NE': 'Actividad por Acciones',
    'NW': 'Cliente potencial',
    'TT': 'DevoluciÃ³n de llamada fallida'
}


if 'tipo' in archivo.columns:
    archivo['tipo'] = archivo['tipo'].map(tipo_servicio) #mapea, aplica cambios

    print("Valores Ãºnicos en 'tipo' despuÃ©s del mapeo:\n", archivo['tipo'].unique())   # Verifica

Valores Ãºnicos en 'tipo' despuÃ©s del mapeo:
 ['Actividad Regular' 'Cliente potencial' 'DevoluciÃ³n de llamada fallida'
 'Consulta por internet' 'Actividad por Acciones' nan]

In [208]:
# Reemplazar los valores de prioridad con nombres descriptivos pero  regular puede ser no reconocido
archivo['priority'] = archivo['priority'].replace({
    0: 'Regular',
    1: 'Regular',
    2: 'Alta Prioridad'
})

archivo['q_time'] = pd.to_numeric(archivo['q_time'], errors='coerce') # 'tiempo_espera' estÃ© en formato numÃ©rico

In [211]:
archivo.columns = ['vru_linea', 'id_llamada', 'id_cliente', 'prioridad', 'tipo', 'fecha',
                   'entrada_vru', 'salida_vru', 'tiempo_vru', 'inicio_espera', 'fin_espera',
                   'tiempo_espera', 'resultado', 'inicio_servicio', 'fin_servicio', 
                   'tiempo_servicio', 'agente','FechaInicio']    # los nombres actuales de las columnas
pd.DataFrame(archivo)

,vru_linea,id_llamada,id_cliente,prioridad,tipo,fecha,entrada_vru,salida_vru,tiempo_vru,inicio_espera,fin_espera,tiempo_espera,resultado,inicio_servicio,fin_servicio,tiempo_servicio,agente,FechaInicio
0,AA0101,BD361,9664491,Alta Prioridad,Actividad Regular,1/1/1999,00:00:31,00:00:36,5,00:00:36,00:03:09,153,HANG,00:00:00,00:00:00,0,NO_SERVER,0
1,AA0101,C9083,No reconocido,Regular,Actividad Regular,1/1/1999,00:34:12,00:34:23,11,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,0
2,AA0101,8436F,27997683,Alta Prioridad,Actividad Regular,1/1/1999,06:55:20,06:55:26,6,06:55:26,06:55:43,17,AGENT,06:55:43,06:56:37,54,MICHAL,0
3,AA0101,0016A,No reconocido,Regular,Actividad Regular,1/1/1999,07:41:16,07:41:26,10,00:00:00,00:00:00,0,AGENT,07:41:25,07:44:53,208,BASCH,0
4,AA0101,70DA6,No reconocido,Regular,Actividad Regular,1/1/1999,08:03:14,08:03:24,10,00:00:00,00:00:00,0,AGENT,08:03:23,08:05:10,107,MICHAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444443,AA0216,1341E,No reconocido,Regular,Consulta por internet,31/12/1999,13:46:51,13:47:04,13,00:00:00,00:00:00,0,AGENT,13:47:03,13:56:16,553,Z2ELINOR,334
444444,AA0216,EDE31,No reconocido,Regular,Consulta por internet,31/12/1999,13:58:31,13:58:40,9,13:58:40,13:59:49,69,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444445,AA0216,2D172,No reconocido,Regular,Consulta por internet,31/12/1999,17:10:51,17:11:12,21,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444446,AA0216,82A6A,No reconocido,Regular,Consulta por internet,31/12/1999,18:30:19,18:30:54,35,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334
444447,AA0216,9C8A3,No reconocido,Regular,Consulta por internet,31/12/1999,22:23:35,22:23:45,10,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER,334

In [212]:
print(archivo.info())
print(archivo.head())

# Guardar
archivo.to_csv('Call_Center_1999_DataSet_Cleaned.csv', index=False, encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
Index: 438353 entries, 0 to 444447
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   vru_linea        438353 non-null  object
 1   id_llamada       438353 non-null  object
 2   id_cliente       438353 non-null  object
 3   prioridad        438353 non-null  object
 4   tipo             438342 non-null  object
 5   fecha            438353 non-null  object
 6   entrada_vru      438353 non-null  object
 7   salida_vru       438353 non-null  object
 8   tiempo_vru       438353 non-null  int64
 9   inicio_espera    438353 non-null  object
 10  fin_espera       438353 non-null  object
 11  tiempo_espera    438353 non-null  int64
 12  resultado        438353 non-null  object
 13  inicio_servicio  438353 non-null  object
 14  fin_servicio     438353 non-null  object
 15  tiempo_servicio  438353 non-null  int64
 16  agente           438353 non-null  object
 17  FechaInicio      438353 non-null  int64
dtypes: int64(4), object(14)
memory usage: 63.5+ MB
None
  vru_linea id_llamada     id_cliente       prioridad               tipo  \
0    AA0101      BD361        9664491  Alta Prioridad  Actividad Regular
1    AA0101      C9083  No reconocido         Regular  Actividad Regular
2    AA0101      8436F       27997683  Alta Prioridad  Actividad Regular
3    AA0101      0016A  No reconocido         Regular  Actividad Regular
4    AA0101      70DA6  No reconocido         Regular  Actividad Regular

      fecha entrada_vru salida_vru  tiempo_vru inicio_espera fin_espera  \
0  1/1/1999    00:00:31   00:00:36           5      00:00:36   00:03:09
1  1/1/1999    00:34:12   00:34:23          11      00:00:00   00:00:00
2  1/1/1999    06:55:20   06:55:26           6      06:55:26   06:55:43
3  1/1/1999    07:41:16   07:41:26          10      00:00:00   00:00:00
4  1/1/1999    08:03:14   08:03:24          10      00:00:00   00:00:00

   tiempo_espera resultado inicio_servicio fin_servicio  tiempo_servicio  \
0            153      HANG        00:00:00     00:00:00                0
1              0      HANG        00:00:00     00:00:00                0
2             17     AGENT        06:55:43     06:56:37               54
3              0     AGENT        07:41:25     07:44:53              208
4              0     AGENT        08:03:23     08:05:10              107

      agente  FechaInicio
0  NO_SERVER            0
1  NO_SERVER            0
2     MICHAL            0
3      BASCH            0
4     MICHAL            0